<a href="https://colab.research.google.com/github/Maggiesyh/Colab_1/blob/main/HW_0728_%E7%B7%B4%E7%BF%922_V.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#practice
vec = [-4, -2, 0, 2, 4]
>>> [x*2 for x in vec]            # => [-8, -4, 0, 4, 8]
>>> [x for x in vec if x >= 0] # => [0, 2, 4]
>>> [abs(x) for x in vec]        # => [4, 2, 0, 2, 4]

>>> freshfruit = [' banana', ' loganberry ', 'passion fruit ‘]
>>> [weapon.strip() for weapon in freshfruit] # => ['banana', 'loganberry', 'passion fruit’]

>>> [(x, x**2) for x in range(6)] # => [(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

>>> vec = [[1,2,3], [4,5,6], [7,8,9]]
>>> [num for elem in vec for num in elem]

In [ ]:
#回到Python V
#Plot

In [ ]:
#Python VI
#傳統
a=[]
for x in range(3):
  if x < 2:
    a.append(x)
print(a)

[0, 1]

In [ ]:
#Python VI
#new
a = [x for x in range(3) if x < 2]
print(a)

[0, 1]

In [ ]:
#Python VI
#傳統
a=[]
for x in range(7):
  if x % 2: #求餘數 if 0 False, if 1 True
    if x % 3:
      a.append(x)
print(a)

[1, 5]

In [ ]:
#Python VI
#new
a = [x for x in range(7) if x % 2  if x % 3 ]
print(a)

[1, 5]

In [ ]:
#用*來unpacking
IP = (140, 114, (46, 47))
TANet, NTHU, CHE = IP #assign

print(TANet, type(TANet))
print(NTHU, type(NTHU))
print(CHE, type(CHE))

140 <class 'int'>
114 <class 'int'>
(46, 47) <class 'tuple'>

In [ ]:
#用*來unpacking
IP = (140, 114, (46, 47))
TANet, NTHU, (CHE1, CHE2) = IP

print(TANet, type(TANet))
print(NTHU, type(NTHU))
print(CHE1, type(CHE1))
print(CHE2, type(CHE2))

140 <class 'int'>
114 <class 'int'>
46 <class 'int'>
47 <class 'int'>
140 <class 'int'>
114 <class 'int'>
46 <class 'int'>
47 <class 'int'>

In [ ]:
#用底線"_"來drop資料
IP = (140, 114, (46, 47))
TANet, NTHU, _ = IP

print(TANet, type(TANet))
print(NTHU, type(NTHU))
print( _, type( _ ))

140 <class 'int'>
114 <class 'int'>
(46, 47) <class 'tuple'>

In [ ]:
IP = (140, 114, 46, 1, 2, 3, 4, 5)
TANet, NTHU, CHE, *Lab = IP

print(TANet, type(TANet))
print(NTHU, type(NTHU))
print(CHE, type(CHE))
print(Lab, type(Lab))
print(*Lab) #iterator cannot use type

140 <class 'int'>
114 <class 'int'>
46 <class 'int'>
[1, 2, 3, 4, 5] <class 'list'>
1 2 3 4 5

In [ ]:
#用"-" , "*" 搭配使用
IP = (140, 114, 46, 1, 2, 3, 4, 5)
>>> TANet, NTHU, CHE, *_ = IP

>>> print(TANet, type(TANet))
>>> print(NTHU, type(NTHU))
>>> print(CHE, type(CHE))
>>> print( _, type( _ ))
>>> print(*_) #iterator cannot use type

140 <class 'int'>
114 <class 'int'>
46 <class 'int'>
[1, 2, 3, 4, 5] <class 'list'>
1 2 3 4 5

In [ ]:
#空白的取代
IP = (140, 114, 46)
>>> TANet, NTHU, CHE, *_ = IP

>>> print(TANet, type(TANet))
>>> print(NTHU, type(NTHU))
>>> print(CHE, type(CHE))
>>> print( _, type( _ ))
>>> print(*_, type( _ ))

140 <class 'int'>
114 <class 'int'>
46 <class 'int'>
[] <class 'list'>
<class 'list'>

In [ ]:
#merge + insert
insert = [i for i in range(1,10)]
merge = (0, *insert, 10)
print(merge)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
#Dictionary的merge
#讀資料
IP = {"TANet":140, "NTHU":114, "CHE":46}

a,b,c = IP
print(a,b,c)
a,b,c = IP.values()
print(a,b,c)
a,b,c = IP.items()
print(a,b,c)

TANet NTHU CHE
140 114 46
('TANet', 140) ('NTHU', 114) ('CHE', 46)

In [ ]:
#
IP = {"TANet":140, "NTHU":114, "CHE":46}

print({**IP})

{'TANet': 140, 'NTHU': 114, 'CHE': 46}

In [ ]:
#Dictionary 的merge
 IP = {"TANet":140, "NTHU":114}

print(dict( {**IP}, CHE1=46, CHE2=47 ))

{'TANet': 140, 'NTHU': 114, 'CHE1': 46, 'CHE2': 47}