<a href="https://colab.research.google.com/github/Maggiesyh/Colab_1/blob/main/HW_0728_%E7%B7%B4%E7%BF%92.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#practice
vec = [-4, -2, 0, 2, 4]
>>> [x*2 for x in vec]            # => [-8, -4, 0, 4, 8]
>>> [x for x in vec if x >= 0] # => [0, 2, 4]
>>> [abs(x) for x in vec]        # => [4, 2, 0, 2, 4]

>>> freshfruit = [' banana', ' loganberry ', 'passion fruit ‘]
>>> [weapon.strip() for weapon in freshfruit] # => ['banana', 'loganberry', 'passion fruit’]

>>> [(x, x**2) for x in range(6)] # => [(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

>>> vec = [[1,2,3], [4,5,6], [7,8,9]]
>>> [num for elem in vec for num in elem]

In [2]:
#Python VI
#傳統
a=[]
for x in range(3):
  if x < 2:
    a.append(x)
print(a)

[0, 1]

In [3]:
#Python VI
#new
a = [x for x in range(3) if x < 2]
print(a)

[0, 1]

In [4]:
#Python VI
#傳統
a=[]
for x in range(7):
  if x % 2: #求餘數 if 0 False, if 1 True
    if x % 3:
      a.append(x)
print(a)

[1, 5]

In [12]:
#Python VI
#new
a = [x for x in range(7) if x % 2  if x % 3 ]
print(a)

[1, 5]

In [13]:
#用*來unpacking
IP = (140, 114, (46, 47))
TANet, NTHU, CHE = IP #assign

print(TANet, type(TANet))
print(NTHU, type(NTHU))
print(CHE, type(CHE))

140 <class 'int'>
114 <class 'int'>
(46, 47) <class 'tuple'>

In [15]:
#用*來unpacking
IP = (140, 114, (46, 47))
TANet, NTHU, (CHE1, CHE2) = IP

print(TANet, type(TANet))
print(NTHU, type(NTHU))
print(CHE1, type(CHE1))
print(CHE2, type(CHE2))

140 <class 'int'>
114 <class 'int'>
46 <class 'int'>
47 <class 'int'>
140 <class 'int'>
114 <class 'int'>
46 <class 'int'>
47 <class 'int'>

In [16]:
#用底線"_"來drop資料
IP = (140, 114, (46, 47))
TANet, NTHU, _ = IP

print(TANet, type(TANet))
print(NTHU, type(NTHU))
print( _, type( _ ))

140 <class 'int'>
114 <class 'int'>
(46, 47) <class 'tuple'>